@import './colors';
a{
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
    color: var(--link-color);
    &:hover{
        color: var(--link-hover-color);
    }
    &:visited{
        color: var(--link-visited-color);
    }
    &:active{
        color: var(--link-active-color);
    }
}

.aside-left-nav{
    background-color: var(--base-color);
    color: var(--text-color);
}